<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Leo's Blog</title>
</head>
<body>
	<!-- Site Header -->
	<hl>Hi. I am Leo. Welcome to my blog!</hl>


	<!-- Blog Post -->
	<h2>My First Blog Post</h2>
	<p>Here is my first blog post. One day at the mall....</p>
	<img src="https://tse1.mm.bing.net/th?id=OIP.kQ3Ds3GeMrpIxpxMAPzIDgHaE7&pid=Api"><br>

	<!-- Like And Comment -->
 <button>Like</button>
 <h2>Leave a Comment</h2>
 <form action="{% url 'blog:home_page' %}" method="POST">
 {% csrf_token %}
 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{comment.user}} says: {{comment.comment}}

</body>
</html>